nav {
    flex-basis: 30%;
    background-color: var(--white);
    padding-top: 3rem;
}

h1 {
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li button {
    background: none;
    border: none;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black);
    height: 100%;
    width: 100%;
    padding: 16px 2rem;
    text-align: left;
    transition: all .2s;
    text-overflow: ellipsis;
}

li button:enabled:hover {
    background-color: rgb(from var(--primary) r g b / .25);
    color: var(--primary);
    cursor: pointer;
}

li button:enabled:active {
    color: var(--white);
    cursor: initial;
}

li button:disabled {
    background-color: rgb(from var(--primary) r g b);
}

li button:disabled {
    font-weight: 700;
    /* color: var(--primary); */
    color: var(--white);
}

@media (max-width: 600px) {
    nav {
        flex-basis: 0;
        padding: 2rem;
    }
}